body {
    font-family: 'Karla', sans-serif;
}
.cyn {
 color: #2ab2af;
}
.cyn2 {
    color: #6ad0ce;
   }
.brightYellow{
    color: #c0df34;
}
.lightGray {
    color: #e5eff5;
}
.grayishBlue {
    color: #98a6bd;
}